<div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Create a New Project.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p class="error"><%=session[:new_condition] if session[:new_condition]%></p>
    <% session.delete(:new_condition)%>
    <form action="/projects" method="POST">
      <div class="w3-section">
        <label>Title:</label>
        <input class="w3-input w3-border" type="text" id="title" name="title" required>
      </div>
      <div class="w3-section">
        <label>Project Content:</label>
        <textarea class="w3-input w3-border" rows="25" type="content" id="content" name="content" required></textarea>
      </div>
      <div class="w3-section">
        <label>Date Started:</label>
        <input class="w3-input w3-border" type="date" id="date" name="date" required>
      </div>
      <input class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" type="submit" id="Submit" value="Create New Project">
    </form>
  </div>
