<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h2>Register</h2>

    <div class="content">
      <form action="/projects" method="POST">
        Title:
        <br>
        <input type="text" name="title" id="title">
        <br>
        Project Content:
        <br>
        <textarea name="content" rows="8" cols="35"></textarea>
        <br>
        Date Started:
        <br>
        <p><input type="text" name="date" id="date"></p>
        <br>
        <p><input type="submit" name="submit" value="Create New Project"></p>
      </form>
    </div>

  </div>
</div>
