<div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Register.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p class="error"><%=flash[:register_condition] if flash[:register_condition]%></p>
    <form action="/register" method="POST">
      <div class="w3-section">
        <label>Name:</label>
        <input class="w3-input w3-border" type="text" id="scientist_name" name="name" required>
      </div>
      <div class="w3-section">
        <label>Username:</label>
        <input class="w3-input w3-border" type="text" id="scientist_username" name="username" required>
      </div>
      <div class="w3-section">
        <label>E-mail:</label>
        <input class="w3-input w3-border" type="email" id="scientist_email" name="email" required>
      </div>
      <div class="w3-section">
        <label>Password</label>
        <input class="w3-input w3-border" type="password" id="scientist_password" name="password" required>
      </div>
      <div class="w3-section">
        <label>Confirm Password</label>
        <input class="w3-input w3-border" type="password" id="scientist_password_confirm" name="password_confirm" required>
      </div>
      <input class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" type="submit" id="Submit" value="Register New Account">
    </form>
  </div>
