<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h2>Register</h2>

    <div class="content">
      <form action="/register" method="POST">
        Name:
        <br>
        <input type="text" name="name" id="scientist_name">
        <br>
        Username:
        <br>
        <input type="text" name="username" id="scientist_username">
        <br>
        E-mail:
        <br>
        <input type="text" name="email" id="scientist_email">
        <br>
        Password:
        <br>
        <input type="password" name="password" id="scientist_password">
        <br>
        <p><input type="submit" id="Submit" value="Register"></p>
        <br>
      </form>
    </div>

  </div>
</div>
