<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>LabApp</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">

        <%= yield %>

        <div class="sidebar">

          <%if Helpers.is_logged_in?(session)%>
          <ul>
            <li>
              <form action="/projects">
                  <input type="submit" value="View All Projects" />
              </form>
            </li>
            <br>
            <li>
              <form action="/scientists/<%=Helpers.current_user(session).slug%>">
                  <input type="submit" value="View My Projects" />
              </form>
            </li>
            <br>
            <li>
              <form action="/projects/new">
                  <input type="submit" value="Create New Project" />
              </form>
            </li>
            <br>
            <li>
              <form action="/sign_out">
                  <input type="submit" value="Sign Out" />
              </form>
            </li>
          </ul>
          <%else%>
            <ul>
              <li>
                <form action="/">
                    <input type="submit" value="Home" />
                </form>
              </li>
              <br>
              <li>
                <form action="/register">
                    <input type="submit" value="Register For An Account" />
                </form>
              </li>
              <br>
              <li>
                <form action="/sign_in">
                    <input type="submit" value="Sign In to the Lab" />
                </form>
              </li>
            </ul>
          <%end%>
        </div>

      <footer class="branding">
        <small>&copy; 2019 <strong>LabApp</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
