<div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Welcome to the Lab</b></h1>
</div>

<div class="w3-container" id="services" style="margin-top:75px">
   <h1 class="w3-xxxlarge w3-text-red"><b>Overview</b></h1>
   <hr style="width:50px;border:5px solid red" class="w3-round">
   <p>The lab is a place to keep track of all of your projects and see what everyone else in lab is working on. If you have an account, proceed to log in, if you haven't joined the lab, create an account and start tracking your projects.</p>
   <p>As a scientist, you are responsible for creating and maintaining your projects. You may have multiple projects at one time. You can create, view yours and everyone else's projects.
   </p>
   <h1 class="w3-xxxlarge w3-text-red"><b>Project Formatting</b></h1>
   <hr style="width:50px;border:5px solid red" class="w3-round">
   <p>A project will need to be named as QCYYXXX, where YY corresponds to the last two digits of the current year and XXX corresponds to the number assigned as the project is entrusted to you.</p>
   <p>Describe in detail the experiment, citing sources, supplemental information, materials used and instrumentation. The experiment must also include a starting date.
   </p>
   <h1 class="w3-xxxlarge w3-text-red"><b>Editing</b></h1>
   <hr style="width:50px;border:5px solid red" class="w3-round">
   <p>You may edit each experiment, updating the conclusion of the experiment.</p>
   <p>You can only edit/delete your own experiment, however you can view what eveyone else is working on in the lab for reporting purposes.
   </p>
 </div>
