<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Lab</h2>

    <div class="content">
      <p>The lab is a place to keep track of all of your projects and see what everyone else in lab is working on. If you have an account, proceed to log in, if you haven't joined the lab, create an account and start tracking your projects.
      </p>
      <p>
      As a scientist, you are responsible for creating and maintaining your projects. You may have multiple projects at one time. Should you choose to have another scientist work on your project, consult with them first and find them from a list of other scientists and assign the project to them. If they have not made an account, have them register first, then assign the project to them once they have an account.

    </p>
    </div>

  </div>
</div>
